body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}
.container {
    width: 900px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.header {
    text-align: center;
}
.search-bar {
    width: 100%;
    /* padding: 10px; */
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.category {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.symptoms {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.doctor-list {
    list-style: none;
    padding: 0;
}
.doctor {
    background-color: #e8f4fc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button { padding: 10px 20px; background-color: #2a9d8f; color: #fff; border: none; border-radius: 20px; cursor: pointer; }
 button:hover 
 { background-color: #0056b3
    }
.img{
    height: 250px;
    width: 850px;
}
.carousel-container { position: relative; width: 100%; margin-top: 20px; height: 300px;} 
.carousel { display: flex; overflow: hidden; width: 100%; }
.carousel-item { padding: 20px; box-sizing: border-box; background-color: #e8f4fc; text-align: center; height: 300px;} 
.carousel-button { position: absolute; top: 50%; transform: translateY(-50%); background-color: rgba(0, 0, 0, 0.5); color: #fff; border: none; padding: 10px; cursor: pointer; } 
.carousel-button.left { left: 0; } .carousel-button.right { right: 0; }
.bmi-calculator {
    margin-top: 20px;
    text-align: left;
}

.bmi-calculator label,
.bmi-calculator input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.bmi-calculator button {
    display: block;
    width: 100%;
}
#chartContainer { margin-top: 20px; }